[Unit]
Description=Pixelcade Custom Slides Service
After=pixelcade.service

[Service]
Type=forking
ExecStart=/home/pi/pixelcade/system/autostart-pixelcade-custom-slides.sh
WorkingDirectory=/home/pi/pixelcade/system
User=pi

[Install]
WantedBy=multi-user.target
